{% extends "base.html" %}
{% block page_content %}

<h2>{{single_articles.title}}</h2>
<h3>{{single_articles.price}} €</h3>
<img src="{{single_articles.image.url}}" alt="{{single_articles.title}}" style="max-width:250px;">
<p>{{single_articles.description}}</p>
<p>{{single_articles.stock}} en stock</p>
<p>{{single_articles.composition}}</p>

{% if single_articles.stock <= 0 %}
    <h5 class="text-danger">rupture de stock</h5>
{% else %}
    {% if in_cart %}
        <a href="#" class="btn btn-success"><span class="text">article(s) ajouté </span> <i class="fas fa-check"></i></a>
        <a href="{% url 'cart' %}" class="btn btn-outline-success"><span class="text"> votre panier </span> <i class="fas fa-eye"></i></a>
    <-- ajouter au panier-->
    {% else %}
        <a href="{% url 'add_cart' single_articles.id %}" class="btn btn-light"><span class="text">Ajouter au panier</span> <i class="fas fa-shopping-cart"></i></a>
    {% endif %}
{% endif %}
    
{% endblock %}