{% extends "pages/base.html" %}
{% block page_content %}

<h2>{{article.title}}</h2>
<h3>{{article.price}} €</h3>
<img src="{{article.image.url}}" alt="{{article.title}}" style="max-width:250px;">
<p>{{article.description}}</p>
<p>{{article.stock}} en stock</p>

{% if user.is_authenticated %}
<form action="{% url 'add_to_cart' slug=article.slug %}" method="post">
    {% csrf_token %}
    <label for="quantity">Quantité :</label>
    <input type="number" id="quantity" name="quantity" min="1" max="{{ article.stock }}" value="1">
    <button type="submit">Ajouter l'article dans le panier</button>
</form>
{% else %}
<a href="{% url 'login' %}"><button>Acheter</button></a>
{% endif %}
    
{% endblock %}