{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'articlarea/CSS/main.css' %}">
    <script src="{% static 'articlarea/JS/bootstrap.bundle.min.js' %}"></script>
    <title>{% block title %}Articlarea{% endblock title %}</title>
    
</head>
<body>
<header class="main_header">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Articlarea</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'articles_index' %}">Articles</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="#">{{ user.username }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Déconnexion</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Connexion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">Inscription</a>
          </li>
          {% endif %}
        </ul>
        <form   method="get" action="{% url 'articles_index' %}">
          <div class="flex-row">
              <input type="text" name="category" placeholder="Rechercher categorie">
              <select name="category" id="">
                  <option value="">Toutes catégories</option>
                  {% for category in categories%}
                      <option value="{{ category.id }}">{{ category.title }}</option>
                  {% endfor %}
              </select>
              <button type="submit">Rechercher</button>
          </div>
          
        </form>
        <ul class="navbar-nav ">
          {% if user.cart %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cart' %}">Voir le panier({{ user.cart.orders.count }})</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  

{% block page_content %}

{% endblock page_content %}
<footer class="bottom bg-success d-flex justify-content-around py-5">
  <div>
    <p>©Copyright {% now "Y"  %} || Develop by Briac</p>
  </div>
  <div>
    <h5>Notre Whatsapp</h5>
    <p>+255 098 344 344 344</p>
  </div>
</footer>
</body>
</html>